<p>inout works!</p>
<p>demo works!</p>
                  
            
                                    <!---   <p>Employee Name:{{Employee.emp_name}}</p>
                                      <p>Employee Id:{{Employee.emp_id}}</p>
                                         <p>Employee Salary: {{Employee.emp_salary}}</p>
                                        <p>Employee company: {{Employee.emp_company}}</p>-->
                  
                        
            

<p>food name</p>
      <input type="text" (keyup.enter)="addtofood(item.value)" #item>
