<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<!--<app-server></app-server>
<app-ng-for></app-ng-for>-->
    <!--<div *ngFor="let e of Users">
  
<app-inout [employee]="e"></app-inout>
</div>-->



 <ul *ngFor="let f of foods">
     <li>
      {{f}}
    </li>
  </ul>

<app-inout (foodevent)="getDataFromChild($event)"></app-inout>


<!--<select (change)="uid=sid.value" #sid>   // on changes hook
  <option selected disabled>No value selected</option>  
  <option [value]="id" *ngFor="let id of [1,2,3,4]"></option>
  {{id}}
</select>
<app-hooks [userid]="uid"> </app-hooks>-->
<!--<app-servicecomp3></app-servicecomp3>-->


<!--<app-comp1></app-comp1>
<app-comp2></app-comp2>
<app-comp3></app-comp3>
<app-comp4></app-comp4>
<app-comp5></app-comp5>-->
<!--<app-pipedemo></app-pipedemo>-->
<router-outlet></router-outlet>
